@font-face {
    font-family: aharoni;
    src: url(assets/fonts/ahronbd.ttf);
}

.site-title {
    font-size: 10vh;
    font-family: 'aharoni', serif;
    text-align: center;
    color: white;
}

.login-container {
    text-align: right;
    font-family: 'aharoni', serif;
    font-size: 2vh;
    color: white;
    position: absolute;
    top: 20px;
    right: 40px;
}

.my-karma {
    font-size: 1vh;
}

.navigator-container{
    border: 1px dashed white;
    margin-top: -100px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
    font-family: 'aharoni', serif;
    font-size: 2vh;
    color: white;
    padding:1%;
}

.navigator {
    padding:1%;
}

.btn {
    cursor: pointer;
}

.btn:hover {
    color: grey;
}

.bg {
    position: fixed;
    z-index: -10;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}
.bg__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}

.gallery {
    background-color: black;
    height: 100%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 100px;
}

.alert {
    font-size: 2vh;
    color: white;
}

.nft {
    display: inline-block;

    width: 400px;
    height: 500px;

    background-color: lightgrey;
    border: 2px solid grey;

    text-align: center;
    margin: 20px;

}


.nft__image {
    cursor: pointer;
    width: 400px;
    height: 400px;
    border-bottom: 2px solid grey;
}

.nft__image:hover {
    opacity: 0.5;
}

.container_image {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.locked_nft {
    margin-top: 10px;
    height: 100px;
    background: red;
}



/*#videoBG {*/
/*    position:fixed;*/
/*    z-index: -1;*/
/*}*/
/*@media (min-aspect-ratio: 16/9) {*/
/*    #videoBG {*/
/*        width:100%;*/
/*        height: auto;*/
/*    }*/
/*}*/
/*@media (max-aspect-ratio: 16/9) {*/
/*    #videoBG {*/
/*        width:auto;*/
/*        height: 100%;*/
/*    }*/
/*}*/
/*@media (max-width: 767px) {*/
/*    #videoBG {*/
/*        display: none;*/
/*    }*/
/*    body {*/
/*        background: url('assets/static_bg.png');*/
/*        background-size: cover;*/
/*    }*/
/*}*/


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {

    horiz-align: center;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-form {padding: 2px 16px;}
